# 忽略所有的 .pyc 文件
*.pyc

soi/debug
soi/step3_vis/
soi/step4_vlt_outputs
soi/step5_verification_outputs
soi/step3_1_results
soi/step3_2_results
soi/step3_2_results_filter0gt
soi/step3_soi_framesold
soi/tracker_soi_results
soi/trackers_status
soi/step3_2_results1111111111111
soi/v1_step3_soi_frames

output/
SUTRACK_ep0180.pth.tar
SUTRACK_b384_ep0180.pth.tar
image.png
soi/step4_vlt_outputs-with_red_box/
soi/step5_outputs/
soi/step5_outputs_qwen32b/
soi_outputs/
soi_pipeline1111/
soi/step4_vlt_outputs_debug/
soi/step4_vlt_outputs_clean/
step4_vlt_outputs123.tgz
note.ipynb
clash.meta
123.py
soi_pipeline/tools/111.py
step4/
step5/